h2 {
  font-weight: 100 !important;
}

blockquote > span {
  line-height: 1.25em !important;
}

.strikethrough {
  text-decoration: line-through;
}

ul {
  text-align: left;
  line-height: 1.8;
}

a {
  color: inherit;
  transition: color 400ms ease-out, background-color 400ms ease-out;
  text-decoration: none;
  border-bottom: 4px solid deeppink;
}

a:hover {
  color: white;
  background-color: deeppink;
}

::selection {
  background-color: deeppink;
  color: white;
}

pre {
  font-size: 2.2vw;
  text-align: left;
}

img[alt~='react-detect-offline'] {
  width: 70vw;
}

img[alt~='opengraph'] {
  width: 45vw;
}

img[alt~='ga'] {
  width: 40vw;
}

img[alt~='reddit'] {
  width: 80vw;
}

img[alt~='skycoins'] {
  width: 30vw;
}

img[alt~='translation'] {
  width: 40vw;
}

h1 {
  font-size: 1em;
}
